@{
    ViewData["Title"] = "Home Page";
}
<link rel="icon" type="image/x-icon" href="favicon.ico">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5 class="display-4">to</h5>
    <img src="/img/Logo.jpg" class="centerImage" alt="CH Logo" height="120" width="640">
</div>
